* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(120deg, #f8f9fa, #e0f7fa);
  color: #222;
  height: 100vh;
  overflow: hidden;
}

/* Container layout */
.container {
  display: flex;
  height: 100vh;
}

/* Left side */
.left-panel {
  width: 30%;
  background:#0A1A44;
  backdrop-filter: blur(10px);
  padding: 80px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-right: 2px solid #cce7f0;
}

.left-panel h2 {
  font-size: 2rem;
  color:#bfbabc ;
}

.left-panel h1 {
  font-size: 2.5rem;
  margin: 10px 0;
  color: #b2aeb0;
}

.left-panel h1 span {
  color: #b8b5b6;
}

.left-panel h3 {
  font-size: 1.3rem;
  color: #b9b6b7;
  margin-bottom: 40px;
}

/* Side Nav Links */
.side-nav {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.side-nav a {
  text-decoration: none;
  font-size: 1rem;
  color: #9DBEF5;
  padding: 8px 0;
  transition: 0.3s;
}

.side-nav a:hover {
  color: #00bcd4;
  transform: translateX(5px);
}

/* Right side scrollable area */
.right-panel {
  width: 70%;
  height: 100vh;
  background-color:#F5F6FA;
  overflow-y: auto;
  scroll-behavior: smooth;
  padding: 80px 60px;
}

/* Section styling */
.section {
  margin-bottom: 80px;
  background:#E4E6EB;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.section h2 {
  color: #0077b6;
  margin-bottom: 15px;
  border-bottom: 2px solid #00bcd4;
  display: inline-block;
  padding-bottom: 5px;
}

.section ul {
  list-style: square inside;
}

.section a {
  color: #00bcd4;
  text-decoration: none;
}

.section a:hover {
  text-decoration: underline;
}

/* Responsive for mobile */
@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .left-panel {
    width: 100%;
    border-right: none;
    border-bottom: 2px solid #cce7f0;
    align-items: center;
    text-align: center;
  }

  .right-panel {
    width: 100%;
    padding: 40px 20px;
  }
}
